{% extends "layout.html" %}
{% block title %}Maze Runner{% endblock %}
{% block styles %}
    {% assets "scss_maze" %}
      <link rel=stylesheet type=text/css href="{{ ASSET_URL }}">
    {% endassets %}
{% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light mb-4">
      <a id="test" class="navbar-brand" href="/">Home</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse">
        <form id="maze-form" class="form-inline" @submit.prevent="rebuild()">
          <div class="input-group form-group mx-sm-3 mb-2 col-8">
            <div class="input-group-prepend">
              <span class="input-group-text">Size</span>
            </div>
            <input type="number" v-model="width" min="4" max="40" aria-label="Width" class="form-control">
            <input type="number" v-model="height" min="4" max="40" aria-label="Height" class="form-control">
          </div>

          <button type="submit" class="btn btn-primary mb-2" :disabled="loading == true" v-html="submit_text"></button>
          <div id="errors" v-html="errors" role="alert"
               v-bind:class="{'alert alert-danger alert-dismissible fade show': errors !== ''}"></div>
        </form>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col">
          <div id="timer" class="mx-auto">
            <p class="time text-center" v-bind:class="{'finished': finished == true}">[[ time ]]</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div id="maze-container" class="mx-auto">
            <svg id="maze"></svg>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/3.0.5/svg.min.js"></script>
{% endblock %}

{% block scripts %}
  {% assets "js_maze" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
{% endblock %}
